#nav_links {
	font-family: 'Megrim';
	font-size: 25px;
	margin: 0px;
}

#home_link {
	font-family: 'Megrim';
	font-size: 35px;
	margin: 0px;
     color: black;
}

#about {
	background-color: pink;
	height: 500px;
	display: flex;
	align-items: baseline;
}

#type_box {
	width: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#small_box {
	width: 210px;
}

#about_p {
	font-family: 'Inconsolata', monospace;
	font-size: 25px;
	overflow: hidden;
	border-right: .10em solid black;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation:
		typing 3s steps(15, end),
		blink-caret .5s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from,to {border-color: transparent;}
	50% { border-color: black }
}

#profile_pic {
	max-height: 250px;
	max-width: 400px;
	border-radius: 5%;
	margin-top: 90px;
	margin-left: 60px;
}

#projects {
	background-color: lavender;
	height: 500px;
}

#academics {
	background-color: pink;
	height: 500px;
}

#art {
	background-color: lavender;
	height: 500px;
}

#contact {
	background-color: pink;
	height: 500px;
}
